<h1>О нас</h1>
<p>
  Данный проект предназначен для изучения веб разработки с помощью
  <a href="http://rubyonrails.org/">Ruby on Rails</a>. Данный проект был создан
  совместными усилиями Хасанова Анзорика и Иванова Сашки.
</p>
