<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "О нас", about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
      <li><%= link_to "Сделано Ивановым Сашкой и Хасановым Анзориком в 2011 году.",contact_path %></li>

    </ul>
  </nav>
</footer>
